# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
*.swo

# Node (на случай если позже добавим build-tooling)
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/

# Локальные временные файлы
*.log
*.tmp
